# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea

# Build
packages/Debian/build/
packages/RPM/build/
others/paho.mqtt.c/
others/jansson
others/lib60870
others/libiec61850

# Archived packages
plugins/archive
service/archive
others/archive
