# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea

# Build
packages/Debian/build/
packages/RPM/build/
others/paho.mqtt.c/
others/jansson
others/lib60870
others/libiec61850
others/S2OPC
others/expat-2.6.0
others/check-0.15.2
others/mbedtls-2.28.7
others/*.tar.gz
others/scripts/mqtt/paho.mqtt.c*

# Archived packages
plugins/archive
service/archive
others/archive
